@model IEnumerable<TeploServices.Models.Service>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Услуги</h2>

<p>
    @Html.ActionLink("Добавить новую услугу", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Тип услуги")
        </th>
        <th>
            @Html.DisplayName("Наименование услуги")
        </th>
        <th>
            @Html.DisplayName("Цена от")
        </th>
        <th>
            @Html.DisplayName("Описание")
        </th>
        <th>
            @Html.DisplayName("Фото")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            <img width="100" height="111" src=@Url.Content("~/Resourses/"+item.Photo+"")>
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.ServiceId }) |
            @Html.ActionLink("Детально", "Details", new { id=item.ServiceId }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ServiceId })
        </td>
    </tr>
}

</table>
